.icon{
    width: 50px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  
    & .inner{
      border: 1px solid rgb(0, 0, 0) !important;
      border-radius: 50%;
 
      &:hover{
        color: var(--main-color);
        border-color: var(--main-color) !important;
      }
  }
  }